<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="menuDao" class="cn.kgc.tangcco.menu.dao.impl.MenuDaoImpl"></bean>
	<bean id="menuService" class="cn.kgc.tangcco.menu.service.impl.MenuServiceImpl">
		<property name="menuDao" ref="menuDao"></property>
	</bean>
	
	<bean id="userDao" class="cn.kgc.tangcco.user.dao.impl.UserDaoImpl"></bean>
	<bean id="userService" class="cn.kgc.tangcco.user.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="roleDao" class="cn.kgc.tangcco.role.dao.impl.RoleDaoImpl"></bean>
	<bean id="roleService" class="cn.kgc.tangcco.role.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao"></property>
	</bean>
	
	<bean id="userRoleDao" class="cn.kgc.tangcco.userRole.dao.impl.UserRoleDaoImpl"></bean>
	<bean id="userRoleService" class="cn.kgc.tangcco.userRole.service.impl.UserRoleServiceImpl">
		<property name="userRoleDao" ref="userRoleDao"></property>
	</bean>
	
	<bean id="roleMenuDao" class="cn.kgc.tangcco.roleMenu.dao.impl.RoleMenuDaoImpl"></bean>
	<bean id="roleMenuService" class="cn.kgc.tangcco.roleMenu.service.impl.RoleMenuServiceImpl">
		<property name="roleMenuDao" ref="roleMenuDao"></property>
	</bean>
</beans>